**Пример 0**

Число 179 записали 50 раз подряд. Полученное 150-значное число возвели в квадрат. Сколько получилось?

In [50]:
print(int('179' * 50) ** 2)

32105178251324397470543616689762835908982055128201274347420493566639712785858932005078151224297370443516589662735808881955028101174247320393466539612621548475402329256183110036963890817744671598525452379306233160087013940867794721648575502429356283210137063990917844771698625552479406333260187114041

**Пример 1**
Задана строка. Вывести слова в обратном порядке. Например:
test = " cats in the house"
rezult = "house the in cats"

In [64]:
test = input('Ваша строка:')
print(test.split()[::-1])
' '.join(test.split()[::-1])

Ваша строка:Вывести слова в обратном порядке
['порядке', 'обратном', 'в', 'слова', 'Вывести']

'порядке обратном в слова Вывести'

**Пример 2** 

Дано: "598578950309845098". Найти: сумму цифр, умноженных на порядковый номер в числе.

In [53]:
number = str(598578950309845098)
s = 0
for i in range(len(number)):
    s += i * int(number[i])
print(s)

# или так
s = sum ([i * int(number[i]) for i in range(len(number))])
print(s)

821
821

**Пример 3**

Write the code  that takes a list of strings, concatenates them, and prints the resulting string repeated three times.

Example:

Input: ['string1', 'string2']

Output: 'string1string2string1string2string1string2'

In [1]:
s = ['string1', 'string2']
print(''.join(s) * 3)

string1string2string1string2string1string2

**Пример 3**

Выведите все элементы списка с четными индексами (то есть A[0], A[2], A[4], ...). Программа должна быть эффективной и не выполнять лишних действий!

In [4]:
test_list = list(range(7))
print(test_list[::2])

[0, 2, 4, 6]

**Пример 4**

Дана строка, в которой буква **a** встречается минимум два раза. Удалите из этой строки первое и последнее вхождение буквы h, а также все символы, находящиеся между ними.

In [28]:
test_string = "We are the Crystal Gems"
index1 = test_string.find('a')
index2 = test_string.rfind('a')
print(test_string[:index1] + test_string[index2+1:])

We l Gems

**Пример 5**

Дана строка, в которой буква **a** встречается как минимум два раза. Разверните последовательность символов, заключенную между первым и последнием появлением буквы h, в противоположном порядке.

In [52]:

l = len(test_string)
print(l,index1,index2)
print(test_string[index2-1:index1:-1])

23 3 16
tsyrC eht er

**Пример 6**

Дана строка. Получите новую строку, вставив между символами исходной строки символ \^. Выведите полученную строку

    fgh
    f^g^h

In [37]:
test_string = "We are the Crystal Gems"
print(''.join([ch+'^' for ch in test_string])[:-1])

W^e^ ^a^r^e^ ^t^h^e^ ^C^r^y^s^t^a^l^ ^G^e^m^s

**Пример 7**

Квадрат трехзначного числа оканчивается тремя цифрами, равными этому числу. Найдите и выведите все такие числа.

In [51]:
for number in range(100,1000):
    if number **2 % 1000 == number:
        print(number)

376
625

**Пример 8**

Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите True, иначе выведите False. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400

In [49]:
year = int(input())

True if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0) else False

2013

False

или воспользоваться модулем calendar:

In [48]:
import calendar
year = 2013
calendar.isleap(year) #^-^

False

**Пример 9**

выделить числа из строки

In [56]:
my_string = 'wer34534dfgd43'
int(''.join(ele for ele in my_string if ele.isdigit()))

3453443

еще немного

In [5]:
A = [1, 2, 3, 4, 5, 6,  7]
A[::-2] = [10, 20, 30, 40] #меняем значения элементов
print(A)

[40, 2, 30, 4, 20, 6, 10]

In [6]:
#no
B = A[::-2] # тут уже работаем с копией А
B[0] = 'new'
A

[40, 2, 30, 4, 20, 6, 10]

In [8]:
B[0](1)

TypeError: 'str' object is not callable

In [9]:
class myClass: 
    i = 0 
    def __init__(self): 
        i = 1 
obj = myClass() 
print(obj.i)

0

In [10]:
'asd'   'zxc'

'asdzxc'

In [11]:
list = [] 
 
for i in range(100): 
    list.append(lambda x: x+i) 
 
list[42](3)

102

In [12]:
True  + 4

5

In [ ]:
возникнет ошибка